
#pane {
    -fx-background-image: url("night.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}


.main-panel{
    -fx-background-color: #94d3dc;

    }

.label {
    -fx-font-size: 25px;

    -fx-font-weight: bold;
    -fx-text-fill: #76dcdb;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color: rgba(0, 0, 0, 0.34);
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.69), 5, 0.0 , 0 , 1 );
    -fx-pref-height: 35px;
    -fx-pref-width: 130px;
}
.button:hover{
    -fx-base: #395bae;
}
#scroll{
    -fx-background-color: rgb(0, 0, 0);
    -fx-text-fill: rgb(255, 255, 255);

}
#combo
{
    -fx-text-fill: #ff0020;
    
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color: rgba(217, 220, 218, 0.67);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-pref-height: 35px;
    -fx-pref-width: 130px;
}